body{
    width: 100%;
    color: black;
    background-color: #F3E9D2;
}
h1{
    background-color: rgb(201, 113, 162);
    text-align: center;
    width: 100%;
    color: #fff;
}
.error{
    color: crimson;
}
.info{
    color: green;
}
.rb{
    margin-top: 2%;
}
.butt button{
    width: 130px;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    border: solid #000;
    background-color: #E0E0E0;
    color: #000;
    font-size: large;
    font-weight: bolder;
}
.drop-down{
    padding: 25px;
    margin-top: 5%;
    font-weight: bold;
}
.notification{
    color: green;
}
.ins{
    color: rgb(7, 7, 7);
}
#myEle{
    width: fit-content;

}
#myEle button{
    border-radius: 8px;
    border: solid #000;
    background-color: #E0E0E0;
    width: 110PX;
    padding: 5px 5px 5px 5px;
    margin-top: 1%;
    
} 
#myEle{
    margin-left: 3%;
    margin-right: 3%;
}
.regCol{
    color: blue;
}
.box{
    text-align: center;
}
.box input{
    padding: 10px 10px;    
}
.radio-buttons input{
    margin-top: 2%;
    margin-left: 20%;
}
.radio-buttons{
    margin-left: 20%;
}
.sel{
    text-align: center;
    color: rgb(254, 254, 255);
    font-style: italic;
    font-weight: bolder;
    font-stretch: expanded;
    font-size-adjust: inherit;
}
.butt{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right:10%;
}
.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; 
}
.resetBt{
    margin-left: 5px;
}
@media (max-width:761){
    .radio-buttons{
        display: block;
        width: 20%;
    }
}
.regNumberInput{
    width: 220px;
}
.regNumber h4, .regNumber h5{
    color: rgb(7, 7, 7);    
}
@media (max-width: 450px){
    .butt{
        display: block;
        width: 90%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width:150px){
    .container{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media  (max-width: 1024) {
    .butt{
        flex-grow: 3;
    }
}